{{do_accordion}}
    {{collapsibles_start}}
        <div class="rrze-lectures">
        [collapsibles]
    {{/collapsibles_start}}
    {{collapse_start}}
        [collapse title="{{=collapse_title}}" color="{{=color}}"]
        <ul>
    {{/collapse_start}}
{{:do_accordion}}
    {{first}}
        <div class="rrze-lectures">
    {{/first}}
    {{type}}
        <h{{=hstart}}>{{=type}}</h{{=hstart}}>
    {{/type}}
    {{ul_start}}
        <ul>
    {{/ul_start}}
{{/do_accordion}}

    <li><a href="{{=providerValues.courses.url}}" target="rrze-campo" class="rrze-lectures-linklist">{{=name}}</a></li>

{{do_accordion}}
    {{collapse_end}}
            </ul>
        [/collapse]
    {{/collapse_end}}
    {{collapsibles_end}}
        [/collapsibles]
        </div>
    {{/collapsibles_end}}
{{:do_accordion}}
    {{ul_end}}
        </ul>
    {{/ul_end}}
    {{last}}
            </ul>
        </div>
    {{/last}}
{{/do_accordion}}