<!-- providerValues event eventtype -->
<!-- providerValues event title -->

<div>identifier  {{=identifier}}</div>

<!-- <div class="rrze-univis">
    <div itemscope="" itemtype="https://schema.org/Course">
        <h2><span itemprop="name">{{=name}}</span></h2>
        <h3>Dozent/in</h3>
        <ul>
            <li itemprop="provider" itemscope="" itemtype="http://schema.org/Person">
                <a href="">
                    <span itemprop="honorificPrefix">Prof. Dr.</span> 
                    <span itemprop="givenName">Corinna</span> 
                    <span itemprop="familyName">Reinhardt</span>
                </a>
            </li>
        </ul>
        <h3>Details</h3>
        <h4>Zeit/Ort n.V.</h4>
        <p>Blocktermine. Bitte Aushang beachten</p>
        <ul>
            <li>Zeit n.V., Raum Gipsabguß-Sammlung 
                <span class="lecture-info-ics" itemprop="ics"><a href="" class="linkToICS" aria-label="ICS: Termin  Zeit n.V. in den Kalender importieren">ICS</a></span>
            </li>
        </ul>
        <h4>Inhalt</h4>
        <p itemprop="description">Frau Prof. Reinhardt und Georg Pöhlein veranstalten eine Übung: Fotografieren von archäologischen Objekten in der Antikensammlung</p>
        <h4>Zusätzliche Informationen</h4>
        <p>Erwartete Teilnehmerzahl: 15</p>
    </div>
</div> -->