{{first}}
    <div class="rrze-lectures">
        <div itemscope="" itemtype="https://schema.org/Course">

        {{do_accordion}}
            [collapsibles hstart="{{=hstart}}"]
        {{/do_accordion}}
{{/first}}
{{do_degree_accordion}}
    {{degree_title}}
        [collapse title="{{=degree_title}}" id="{{=degree_title}}_{{=identifier}}"]
    {{/degree_title}}
{{:do_degree_accordion}}
    {{degree_title}}
        {{show_degree_title}}
            <H{{=degree_hstart}}>{{=degree_title}}</H{{=degree_hstart}}>
        {{:show_degree_title}}
            <br>&nbsp;<br>
        {{/show_degree_title}}
    {{/degree_title}}
{{/do_degree_accordion}}
{{do_type_accordion}}
    {{type_title}}
        {{do_degree_accordion}}
            {{degree_start}}
                [accordion]
            {{/degree_start}}
            [accordion-item title="{{=type_title}}" id="{{=type_title}}_{{=identifier}}"]
        {{:do_degree_accordion}}
            [collapse title="{{=type_title}}" id="{{=type_title}}_{{=identifier}}"]
        {{/do_degree_accordion}}        
    {{/type_title}}
{{:do_type_accordion}}
    {{type_title}}
        <H{{=type_hstart}}>{{=type_title}}</H{{=type_hstart}}>
    {{/type_title}}
{{/do_type_accordion}}
{{type_start}}
    <ul>
{{/type_start}}

        <p><em>(Nur zum Debuggen: identifier = {{=identifier}})</em></p>
        <h2><span itemprop="name">{{=name}}</span></h2>


        [tabs]
        [tab title="Grunddaten"]
        {{providerValues.event_orgunit}}
        Organisationseinheit:
        <ul>
            {{/providerValues.event_orgunit}}
            {{@providerValues.event_orgunit}}
            <li>{{=_val.orgunit}}</li>
            {{/@providerValues.event_orgunit}}
            {{providerValues.event_orgunit}}
        </ul>
        {{/providerValues.event_orgunit}}


        <p>Veranstaltungsart: {{=providerValues.event.eventtype}}</p>
        <p>Turnus des Angebots: FEHLT</p>
        <p>Semesterwochenstunden: FEHLT</p>


        [/tab]
        [tab title="Parallelgruppen / Termine"]

        Verantwortliche/-r
        <ul>
            {{@providerValues.event_responsible}}
            <li itemprop="provider" itemscope="" itemtype="http://schema.org/Person">
                <a href="hier fehlt der Link zu IdM oder DIP liefert ID für rrze-contact oder event_responsible hat unter location einen URL">{{_val.prefixTitle}}<span itemprop="honorificPrefix">{{=_val.prefixTitle}}</span> {{/_val.prefixTitle}}{{_val.firstname}}<span itemprop="givenName">{{=_val.firstname}}</span> {{/_val.firstname}}{{_val.surname}}<span itemprop="familyName">{{=_val.surname}}</span>{{:_val.surname}}! surname (schema: familyName) ist LEER !{{/_val.surname}}</a>
            </li>
            {{/@providerValues.event_responsible}}
        </ul>

        {{description}}<h4>Inhalt</h4>
        <p itemprop="description">{{=description}}</p>{{/description}}


        {{maximumAttendeeCapacity}}<p>Maximale Anzahl Teilnehmer/-innen: {{=maximumAttendeeCapacity}}</p>{{/maximumAttendeeCapacity}}
        <p>Minimum der Teilnehmer/-innen für das Stattfinden der Veranstaltung: FEHLT (vermutlich minimumAttendeeCapacity)</p>


        <br>&nbsp;<br>

        {{providerValues.planned_dates}}
        <table>
            <tr>
                <td>Rhythmus</td>
                <td>Wochentag</td>
                <td>Von - Bis</td>
                <td>Ausfalltermin</td>
                <td>Startdatum - Enddatum</td>
                <td>Erw. Tn.</td>
                <td>Bemerkung</td>
                <td>Durchführende/-r</td>
                <td>Raum</td>
            </tr>
            <tr>
                <td>{{providerValues.planned_dates.rhythm}}{{=providerValues.planned_dates.rhythm}}{{/providerValues.planned_dates.rhythm}}</td>
                <td>{{providerValues.planned_dates.weekday}}{{=providerValues.planned_dates.weekday}}{{/providerValues.planned_dates.weekday}}</td>
                <td>{{providerValues.planned_dates.starttime}}{{=providerValues.planned_dates.starttime}}{{/providerValues.planned_dates.starttime}}
                    -
                    {{providerValues.planned_dates.endtime}}{{=providerValues.planned_dates.endtime}}{{/providerValues.planned_dates.endtime}}
                </td>
                <td>{{@providerValues.planned_dates.misseddates}}{{=_val}}<br>{{/@providerValues.planned_dates.misseddates}}</td>
                <td>{{providerValues.planned_dates.startdate}}{{=providerValues.planned_dates.startdate}}{{/providerValues.planned_dates.startdate}}
                    -
                    {{providerValues.planned_dates.enddate}}{{=providerValues.planned_dates.enddate}}{{/providerValues.planned_dates.enddate}}
                </td>
                <td>{{providerValues.planned_dates.expected_attendees_count}}{{=providerValues.planned_dates.expected_attendees_count}}{{/providerValues.planned_dates.expected_attendees_count}}
                </td>
                <td>{{providerValues.planned_dates.comment}}{{=providerValues.planned_dates.comment}}{{/providerValues.planned_dates.comment}}
                </td>
                <td>individual_instructor => falls Array gefüllt ist</td>
                <td>{{providerValues.planned_dates.famos_request}}{{=providerValues.planned_dates.famos_request}}{{/providerValues.planned_dates.famos_request}}
                </td>
            </tr>
            <tr>
                <td colspan="9">alle weitere Elemente im Array planned_dates FEHLEN</td>
            </tr>
        </table>
        {{/providerValues.planned_dates}}

        [/tab]

        {{providerValues.module}}

        [tab title="Module / Studiengänge"]

        <table>
            <tr>
                <td>Abschluss</td>
                <td>Fach</td>
                <td>Vertiefung</td>
                <td>Schwerpunkt</td>
                <td>Fachkennzeichen</td>
                <td>Prüfungsordnungsversion</td>
                <td>Studienform</td>
                <td>Studienort</td>
                <td>Studienart</td>
            </tr>

            {{@providerValues.module}}
            {{@_val.module_cos}}

            <tr>
                <td>FEHLT</td>
                <td>FEHLT</td>
                <td>{{=_val.degree}}</td>
                <td>{{=_val.subject}}</td>
                <td>{{=_val.major}}</td>
                <td>FEHLT</td>
                <td>{{=_val.subject_indicator}}</td>
                <td>{{=_val.version}}</td>
                <td>FEHLT</td>
                <td>FEHLT</td>
                <td>FEHLT</td>
            </tr>
            {{/@_val.module_cos}}
            {{/@providerValues.module}}
        </table>

        [/tab]

        {{/providerValues.module}}
    [/tabs]



        {{do_type_accordion}}
    {{type_end}}
        {{do_degree_accordion}}
            [/accordion-item]
            {{degree_end}}
                [/accordion]
            {{/degree_end}}
        {{:do_degree_accordion}}
            [/collapse]
        {{/do_degree_accordion}}        
    {{/type_end}}
{{/do_type_accordion}}
{{do_degree_accordion}}
    {{degree_end}}
        [/collapse]
    {{/degree_end}}
{{/do_degree_accordion}}
{{last}}
    {{do_accordion}}
        [/collapsibles]
    {{/do_accordion}}
    </div>
{{/last}}
